html {
    height: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    padding-top: 50px;
    margin: 0;
    padding: 0;
}


button {
    background: none;
}

.logout-form {
    color: floralwhite;
    text-decoration: none;
}

.navbar {
    z-index: 1;
}

.navbar-nav {
    margin: .5%;
}

li {
    list-style: none;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    padding-top: 10px;
}

/*nav logo*/
a.navbar-brand {
    color: coral;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 3.5em;
    padding: 20px;
    z-index: 1;
}

    a.navbar-brand:hover {
        color: coral;
    }

/*nav login*/
.login-nav {
    color: white;
    font-size: 1.25em;
    background: none;
}

    .login-nav:hover {
        color: coral;
        text-decoration: none;
    }

.top-image {
    position: absolute;
    top: 0;
    bottom: 50%;
    right: 0;
    left: 0;
    background: linear-gradient( rgba(20,20,20, .3), rgba(20,20,20, .4)), url('/images/nurish_main.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #000000;
}

img {
    padding: 0;
    //display: block;
    //margin: 0 auto;
    width: 100%;
    border: 1px solid;
    border-color: lightgray;
}

.lead {
    text-align: center;
    color: white;
}

.btn-lg {
    z-index: 1;
    border: 2px solid coral;
    border-radius: 20px;
    color: white;
    width: 15%;
    font-weight: bold;
    text-align: center;
    transition: all .1s ease-in-out;
}

    .btn-lg:hover {
        background: coral;
        transform: scale(1.1);
    }


#firsth3 {
    text-align: center;
}

h3 {
    text-align: left;
    font-weight: bold;
}

#person-icon {
    color: floralwhite !important;
}

    #person-icon:hover {
        color: coral !important;

    }

.partial {
    transition: all .1s ease-in-out;
}

    .partial:hover {
        transform: scale(1.1);
    }

#partial {
    color: floralwhite !important;
    
   
}

    #partial:hover {
        color: coral !important;
    }

.info_div {
    margin-bottom: 8%;
}
h1 {
    font-size: 3em;
    color: gray;
    font-weight: bold;
}

p {
    font-size: 2em;
    color: gray;
}

.push {
    height: 50px;
}


.navbar-nav {
    float: right;
}

.location {
    color: floralwhite;
    margin-top: 3%;
    margin-left: 3%;
}


.angular {
    margin-top: 15%;
}

/*navbar container*/
.nav-custom {
    margin-top: 3%;
    margin-left: 2%;
    margin-right: 2%;
}


/*Hero Banner*/
h1.display-4 {
    margin-top: 10%;
    font-size: 3.5em;
    color: white;

}

#checklist {
    margin-top: 25%;
    margin-bottom: 3%;
    color: dimgrey;

}



#face_icon {
    padding-top: 5px;
    color: coral;
    font-size: 4em;
}

#timeline_icon {
    padding-top: 5px;
    color: coral;
    font-size: 4em;
}

#drink_icon {
    padding-top: 5px;
    color: coral;
    font-size: 4em;
}


.material-icons.md-48 {
    display: block;
    font-size: 48px;
    margin: 0 auto;   
}


/*MODAL*/

h3 {
    font-size: 2em;
    font-weight: bold;
}

.modal-content {
    border-radius: 20px;
}

.modal-body {
    background: white;
}

.modal-footer {
    background: white;
}

.form-group {
    margin: 5%;
}

/*.btn.btn-custom {
    display: block;
    margin: 0 auto;
    width: 80%;
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
    cursor: pointer;
    height: 45px;
    text-align: center;
    background: coral;
    box-shadow: 0 4px 10px 0 rgb(128, 128, 128);
    border-radius: 40px;
}*/

.btn-custom {
    /*flex: 1 1 auto;*/
    display: block;
    margin: 0 auto;
    width: 80%;
    height: 45px;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
    /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
    box-shadow: 0 4px 10px 0 rgb(128, 128, 128);
    border-radius: 40px;
    background-image: linear-gradient(to right, #FF8008 0%, #F09819 51%, #FF8008 100%);
}

    .btn-custom:hover {
        background-position: bottom right; /* change the direction of the change here */
        color: white;
    }

    
/*Potential button colors in here, otherwise this does nothing*/
.btn-grad {
    background-image: linear-gradient(to right, #DE6262 0%, #FFB88C 51%, #DE6262 100%)
}



/*MODAL*/

h3 {
    font-size: 2em;
    font-weight: bold;
}

#login {
}

.modal-content {
    border-radius: 20px;
}

.modal-body {
    background: white;
}

.modal-footer {
    background: white;
}

.form-group {
    margin: 5%;
}

/*.btn.btn-custom {
    display: block;
    margin: 0 auto;
    width: 80%;
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
    cursor: pointer;
    height: 45px;
    text-align: center;
    background: coral;
    box-shadow: 0 4px 10px 0 rgb(128, 128, 128);
    border-radius: 40px;
}*/

.btn-custom {
    /*flex: 1 1 auto;*/
    display: block;
    margin: 0 auto;
    width: 80%;
    height: 45px;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
    /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
    box-shadow: 0 4px 10px 0 rgb(128, 128, 128);
    border-radius: 40px;
    background-image: linear-gradient(to right, #FF8008 0%, #F09819 51%, #FF8008 100%);
}

    .btn-custom:hover {
        background-position: bottom right; /* change the direction of the change here */
        color: white;
    }

    
/*Potential button colors in here, otherwise this does nothing*/
/*.btn-grad {
    background-image: linear-gradient(to right, #DE6262 0%, #FFB88C 51%, #DE6262 100%)
}*/


/*Footer*/
.footer {
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 4.5rem;
    background-color: #efefef;
    text-align: center;
}

#top_footer {
    color: black;
    padding: 1.25rem;
    background-color: #e9e9e9;
}

.footer-brand {
    text-align: center;
    color: dimgray;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
}

#footer_icon {
    color: dimgray;
    font-size: 2em;
}
  


/*Splash Load Screen*/
.hi {
    margin: 0;
    padding-top: 22%;
    color: #ff6a00;
    font-size: 7em;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

#loader {
    position: fixed;
    /*background: -webkit-linear-gradient(bottom left, #ffa97f, coral);*/
    /*background: -webkit-linear-gradient(bottom left, #FF8008 20%, #F09819 50%, #FF8008 90%);*/
    background: -webkit-linear-gradient(bottom left, #fff 20%, #fff 50%, #fff 90%); 
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
    z-index: 10;
}

.spinner {
    margin: 65px auto 0;
    width: 200px;
    text-align: center;
}

    .spinner > div {
        width: 18px;
        height: 18px;
        background-color: coral;
        border-radius: 100%;
        display: inline-block;
        -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
        animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    }

    .spinner .bounce1 {
        -webkit-animation-delay: -0.32s;
        animation-delay: -0.32s;
    }

    .spinner .bounce2 {
        -webkit-animation-delay: -0.16s;
        animation-delay: -0.16s;
    }

@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0)
    }

    40% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    40% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}