body {
    padding-top: 50px;
    padding-bottom: 50px;
}


button {
    background: none;
}

.logout-form {
    color: floralwhite;
    text-decoration: none;
}

.navbar {
    z-index: 1;
}

.navbar-nav {
    margin: .5%;
}

li {
    list-style: none;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
}

/*nav logo*/
a.navbar-brand {
    color: coral;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 3.5em;
    padding: 20px;
    z-index: 1;
}

    a.navbar-brand:hover {
        color: coral;
    }

/*nav login*/
.login-nav {
    color: white;
    font-size: 1.25em;
    background: none;
}

    .login-nav:hover {
        color: coral;
        text-decoration: none;
    }

.top-image {
    position: absolute;
    top: 0;
    bottom: 0%;
    right: 0;
    left: 0;
    background-image: url('/images/nurish_main.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #000000;
}


.top-image2 {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
}

.display-4 {
    margin-top: 13%;
    text-align: center;
    color: white;
}

.lead {
    text-align: center;
    color: white;
}

.btn-lg {
    z-index: 1;
    border: 2px solid coral;
    border-radius: 20px;
    color: white;
    width: 15%;
    font-weight: bold;
    text-align: center;
}

    .btn-lg:hover {
        background-image: linear-gradient(to right, #FF8008 0%, #F09819 51%, #FF8008 100%);
        //background: coral;
        color: white;
    }


.info-div {
    margin-top: 30%;
    width: 80%;
    text-align: center;
    color: dimgrey;
}

.info-div2 {
    margin-top: 5%;
    width: 80%;
    text-align: center;
    color: dimgrey;
}


#firsth3 {
    text-align: center;
}

h3 {
    text-align: left;
    font-weight: bold;
}

#person-icon {
    color: floralwhite !important;
}

    #person-icon:hover {
        color: coral !important;
    }

#logout-btn {
    color: floralwhite !important;
}

    #logout-btn:hover {
        color: coral !important;
    }

p {
    font-size: 1.5em;
}

.push {
    height: 50px;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: #a4a4a4;
}

.navbar-nav {
    float: right;
}

.location {
    color: floralwhite;
    margin-top: 3%;
    margin-left: 3%;
}

html {
    background-color: rgb(245, 245, 245);
}

.body {
    margin: 0;
    padding: 0;
}


/*Icons*/

.expand {
    z-index: 20;
    font-size: 36px;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 36px; /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    margin-top: 50%;
    margin-left: 50%;
}

.angular {
    margin-top: 5%;
}

/*navbar container*/
.nav-custom {
    margin-left: 2%;
    margin-right: 2%;
}


/*Hero Banner*/
h1.display-4 {
    margin-top: 20%;
}

/*MODAL*/

h3 {
    font-size: 2em;
    font-weight: bold;
}

.modal-content {
    border-radius: 20px;
}

.modal-body {
    background: white;
}

.modal-footer {
    background: white;
}

.form-group {
    margin: 5%;
}

/*.btn.btn-custom {
    display: block;
    margin: 0 auto;
    width: 80%;
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
    cursor: pointer;
    height: 45px;
    text-align: center;
    background: coral;
    box-shadow: 0 4px 10px 0 rgb(128, 128, 128);
    border-radius: 40px;
}*/

.btn-custom {
    /*flex: 1 1 auto;*/
    display: block;
    margin: 0 auto;
    width: 80%;
    height: 45px;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
    /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
    box-shadow: 0 4px 10px 0 rgb(128, 128, 128);
    border-radius: 40px;
    background-image: linear-gradient(to right, #FF8008 0%, #F09819 51%, #FF8008 100%);
}

    .btn-custom:hover {
        background-position: bottom right; /* change the direction of the change here */
        color: white;
    }

    
/*Potential button colors in here, otherwise this does nothing*/
.btn-grad {
    background-image: linear-gradient(to right, #DE6262 0%, #FFB88C 51%, #DE6262 100%)
}



/*MODAL*/

h3 {
    font-size: 2em;
    font-weight: bold;
}

#login {
}

.modal-content {
    border-radius: 20px;
}

.modal-body {
    background: white;
}

.modal-footer {
    background: white;
}

.form-group {
    margin: 5%;
}

/*.btn.btn-custom {
    display: block;
    margin: 0 auto;
    width: 80%;
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
    cursor: pointer;
    height: 45px;
    text-align: center;
    background: coral;
    box-shadow: 0 4px 10px 0 rgb(128, 128, 128);
    border-radius: 40px;
}*/

.btn-custom {
    /*flex: 1 1 auto;*/
    display: block;
    margin: 0 auto;
    width: 80%;
    height: 45px;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
    /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
    box-shadow: 0 4px 10px 0 rgb(128, 128, 128);
    border-radius: 40px;
    background-image: linear-gradient(to right, #FF8008 0%, #F09819 51%, #FF8008 100%);
}

    .btn-custom:hover {
        background-position: bottom right; /* change the direction of the change here */
        color: white;
    }

    
/*Potential button colors in here, otherwise this does nothing*/
.btn-grad {
    background-image: linear-gradient(to right, #DE6262 0%, #FFB88C 51%, #DE6262 100%)
}

  


/*Splash Load Screen*/
.hi {
    margin: 0;
    padding: 22% 0;
    /*color: white;*/
    color: #ff6a00;
    font-size: 7em;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

#loader {
    position: fixed;
    /*background: -webkit-linear-gradient(bottom left, #ffa97f, coral);*/
    /*background: -webkit-linear-gradient(bottom left, #FF8008 20%, #F09819 50%, #FF8008 90%);*/
    background: -webkit-linear-gradient(bottom left, #fff 20%, #fff 50%, #fff 90%); 
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
    z-index: 10;
}