@{
    ViewData["Title"] = "Home Page";
    Layout = "_LayoutHome.cshtml";
}

@* Login Modal *@
<div id="login" class="modal">
    @Html.Partial("_LoginPartialForm")
</div>

<div id="register" class="modal">
    @Html.Partial("_RegisterPartialForm")
</div>

@* Splash Loader *@
<div id="loader">
    <h1 class="hi">nurish</h1>
</div>
